
#herosection{padding:7em 0em 7cm 0em;background-image:url('../images/14.jpg');
     background-size:100% 100%;
    background-repeat:no-repeat;
    background-size: 100% 100%;
   
}


body{background-color: blue;}
#container{background-color: black;}

.card-body{
    margin-top: 100px;
    border: 1px solid #000;
}
.row {background-image: url('../images/education.jpg');
background-size: 100% 10%;
background-repeat: no-repeat;}